.card{
    position:relative;
    background-color: #fff;
    width:600px;
    padding:20px;
    max-width:85vw;
    height:70vh;
    box-shadow: 0px 10px 24px 8px rgba(0,0,0,0.2);
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}   

.tinderCards_cardContainer{
    display: flex;
    justify-content: center;
    margin-top: 3vh;
}
.swipe {
    position: absolute;
}

.cardContent {
    width: 100%;
    height:100%;
}

.card h3{
    position:absolute;
    bottom:0;
    margin: 15px;
    color:#fff;
    font-weight:800;
    text-shadow:0 1px 10px #1d1b28;
    text-shadow:0 2px 10px #1d1b28;
    text-shadow:0 3px 10px #1d1b28;
    text-shadow:0 4px 10px #1d1b28;
    text-shadow:0 5px 10px #1d1b28;
    text-shadow:0 6px 10px #1d1b28;
    text-shadow:0 7px 10px #1d1b28;
    text-shadow:0 8px 10px #1d1b28;
}